# FQDN-only reusable Jinja2 template
components:
  network:
{% for net in networks %}
{% for az in net.azs %}
    {{ product }} {{ env_name }} {{ net.label }} AZ{{ az.number }}:
      - aa{{ az.network_hostname }}0002.infra.{{ domain }}
{% endfor %}
{% endfor %}
  security:
{% for net in networks if net.type == 'management' %}
{% for az in net.azs %}
    {{ product }} {{ env_name }} {{ net.label }} AZ{{ az.number }}:
      - {{ co }}-mgmt-{{ az.region }}-1-panorama.infra.{{ domain }}
{% endfor %}
{% endfor %}
  dns_ntp:
{% for net in networks %}
{% for az in net.azs %}
    {{ product }} {{ env_name }} {{ net.label }} AZ{{ az.number }}:
{% if net.type == 'management' %}
      gridmasters:
        - im{{ az.network_hostname }}0001.infra.{{ domain }}
        - im{{ az.network_hostname }}0002.infra.{{ domain }}
{% endif %}
      resolvers:
        - ir{{ az.network_hostname }}0001.infra.{{ domain }}
        - ir{{ az.network_hostname }}0002.infra.{{ domain }}
{% endfor %}
{% endfor %}
  jumphosts:
{% for net in networks if net.type == 'management' %}
{% for az in net.azs %}
{% if net.jumphost_ids is defined and net.jumphost_ids %}
    {{ product }} {{ env_name }} {{ net.label }} AZ{{ az.number }}:
{% for id in net.jumphost_ids %}
      - {{ co }}{{ net.host_prefix }}{{ az.region }}-z{{ az.number }}-b{{ id }}.infra.{{ domain }}
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}
  compute:
{% for net in networks %}
{% for az in net.azs %}
{% if az.compute_qty is defined and az.compute_qty > 0 %}
    {{ product }} {{ env_name }} {{ net.label }} AZ{{ az.number }}:
{% for i in range(3, 3 + az.compute_qty) %}
      - {{ co }}{{ net.host_prefix }}{{ az.region }}-z{{ az.number }}-a{{ i }}.infra.{{ domain }}
{% endfor %}
{% else %}
    {{ product }} {{ env_name }} {{ net.label }} AZ{{ az.number }}: []
{% endif %}
{% endfor %}
{% endfor %}
